@import '_variables';

@include keyframes(spinner) {
  0%,
  100% {
    box-shadow: 0 -2.6rem 0 0 $color-dark, 1.8rem -1.8rem 0 0 rgba($color-dark, 0.2), 2.5rem 0 0 0 rgba($color-dark, 0.2), 1.75rem 1.75rem 0 0 rgba($color-dark, 0.2), 0 2.5rem 0 0 rgba($color-dark, 0.2), -1.8rem 1.8rem 0 0 rgba($color-dark, 0.2), -2.6rem 0 0 0 rgba($color-dark, 0.5), -1.8rem -1.8rem 0 0 rgba($color-dark, 0.7);
  }

  12.5% {
    box-shadow: 0 -2.6rem 0 0 rgba($color-dark, 0.7), 1.8rem -1.8rem 0 0 $color-dark, 2.5rem 0 0 0 rgba($color-dark, 0.2), 1.75rem 1.75rem 0 0 rgba($color-dark, 0.2), 0 2.5rem 0 0 rgba($color-dark, 0.2), -1.8rem 1.8rem 0 0 rgba($color-dark, 0.2), -2.6rem 0 0 0 rgba($color-dark, 0.2), -1.8rem -1.8rem 0 0 rgba($color-dark, 0.5);
  }

  25% {
    box-shadow: 0 -2.6rem 0 0 rgba($color-dark, 0.5), 1.8rem -1.8rem 0 0 rgba($color-dark, 0.7), 2.5rem 0 0 0 $color-dark, 1.75rem 1.75rem 0 0 rgba($color-dark, 0.2), 0 2.5rem 0 0 rgba($color-dark, 0.2), -1.8rem 1.8rem 0 0 rgba($color-dark, 0.2), -2.6rem 0 0 0 rgba($color-dark, 0.2), -1.8rem -1.8rem 0 0 rgba($color-dark, 0.2);
  }

  37.5% {
    box-shadow: 0 -2.6rem 0 0 rgba($color-dark, 0.2), 1.8rem -1.8rem 0 0 rgba($color-dark, 0.5), 2.5rem 0 0 0 rgba($color-dark, 0.7), 1.75rem 1.75rem 0 0 $color-dark, 0 2.5rem 0 0 rgba($color-dark, 0.2), -1.8rem 1.8rem 0 0 rgba($color-dark, 0.2), -2.6rem 0 0 0 rgba($color-dark, 0.2), -1.8rem -1.8rem 0 0 rgba($color-dark, 0.2);
  }

  50% {
    box-shadow: 0 -2.6rem 0 0 rgba($color-dark, 0.2), 1.8rem -1.8rem 0 0 rgba($color-dark, 0.2), 2.5rem 0 0 0 rgba($color-dark, 0.5), 1.75rem 1.75rem 0 0 rgba($color-dark, 0.7), 0 2.5rem 0 0 $color-dark, -1.8rem 1.8rem 0 0 rgba($color-dark, 0.2), -2.6rem 0 0 0 rgba($color-dark, 0.2), -1.8rem -1.8rem 0 0 rgba($color-dark, 0.2);
  }

  62.5% {
    box-shadow: 0 -2.6rem 0 0 rgba($color-dark, 0.2), 1.8rem -1.8rem 0 0 rgba($color-dark, 0.2), 2.5rem 0 0 0 rgba($color-dark, 0.2), 1.75rem 1.75rem 0 0 rgba($color-dark, 0.5), 0 2.5rem 0 0 rgba($color-dark, 0.7), -1.8rem 1.8rem 0 0 $color-dark, -2.6rem 0 0 0 rgba($color-dark, 0.2), -1.8rem -1.8rem 0 0 rgba($color-dark, 0.2);
  }

  75% {
    box-shadow: 0 -2.6rem 0 0 rgba($color-dark, 0.2), 1.8rem -1.8rem 0 0 rgba($color-dark, 0.2), 2.5rem 0 0 0 rgba($color-dark, 0.2), 1.75rem 1.75rem 0 0 rgba($color-dark, 0.2), 0 2.5rem 0 0 rgba($color-dark, 0.5), -1.8rem 1.8rem 0 0 rgba($color-dark, 0.7), -2.6rem 0 0 0 $color-dark, -1.8rem -1.8rem 0 0 rgba($color-dark, 0.2);
  }

  87.5% {
    box-shadow: 0 -2.6rem 0 0 rgba($color-dark, 0.2), 1.8rem -1.8rem 0 0 rgba($color-dark, 0.2), 2.5rem 0 0 0 rgba($color-dark, 0.2), 1.75rem 1.75rem 0 0 rgba($color-dark, 0.2), 0 2.5rem 0 0 rgba($color-dark, 0.2), -1.8rem 1.8rem 0 0 rgba($color-dark, 0.5), -2.6rem 0 0 0 rgba($color-dark, 0.7), -1.8rem -1.8rem 0 0 $color-dark;
  }
}
