@import '_functions';

@mixin placeholder {
  &:-ms-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// mixin for CSS calc() function
@mixin calc($propertie, $expression, $important) {
  // PS: in $expression is necessary put the maths functions with spaces between them and set them like string
  #{$propertie}: -webkit-calc(#{$expression}) $important;
  #{$propertie}: calc(#{$expression}) $important;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin scrollbars($size, $color) {
  &::-webkit-scrollbar {
    width:  $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: pxToRem(4);
  }

  &::-webkit-scrollbar-track {
    background: rgba($color, .4);
    border-radius: pxToRem(4);
    width: $size;
  }

  // For Internet Explorer
  body & {
    scrollbar-face-color: rgba($color, .5);
    scrollbar-track-color: rgba($color, .8);
  }
}

