@import '_functions';

// Font-base
$font-base: 16 !default;
$grid-columns: 12;

// Cores
$color-white: #fff;
$color-light: #fafafa;
$color-danger: #f3123c;
$color-black: #222121;
$color-dark: #4a494a;
$color-gray: #9b9b9b;
