@import '../_utilities/_exports';

.m-btnPlaceholder {
  background-color: transparent;
  background-position: center;
  border: none;
  border-radius: pxToRem(4);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-bottom: pxToRem(12);
  outline: none;
  padding: pxToRem(12);
  position: relative;
  transition: opacity .15s linear, background .8s;
  text-align: center;

  &:focus,
  &:active {
    outline: none;
  }
}

.m-btn {
  @extend .m-btnPlaceholder;

  &--search {
    @extend .m-btnPlaceholder;
    background-color: $color-dark;
    color: $color-white;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
      opacity: .72;
    }

    &:hover {
      background: $color-dark radial-gradient(circle, transparent 1%, $color-dark 1%) center/15000%;
    }

    &:active {
      background-color: lighten($color-dark, 6%);
      background-size: 100%;
      transition: background .12ms;
    }
  }
}
